<h3>台大救生班 - 報名第 <font color="red">{{ stage_no }}</font> 期救生班</h3>
<p>訓練時間：{{ stage_date }}，週一至週五 18:00-21:30，周六及週日：08:00-17:00</p>
<p>訓練地點：臺灣大學室外池</p>
<p>總教練：{{ stage_manager }}</p>

<hr>
<h2 style="color:red" id="id_error">{{ error }}</h2>

{% block content %}
<form action="signup_new" name="signupForm" method="post">{% csrf_token %}

    {{ form.as_p }}

    <hr>
    <input type="submit" name="confirm" value="確定(ok)" />
    <input type="submit" name="cancel" value="取消(cancel)" />
</form>

{% endblock %}
