{% block content %}
<h4>隊員資料管理</h4>
<h5 style="color:red" id="id_error">{{ error }}</h5>
<h5 style="color:blue" id="id_info">{{ info }}</h5>
<h5 style="color:green" id="id_success">{{ success }}</h5>
<form action="management" name="managementForm" method="post"> {% csrf_token %}
    <hr>
    <input type="submit" name="update_data" value="資料更新(update data)" />
    <p>
    <input type="submit" name="update_password" value="變更密碼(update password)" />
    <p>

    {% if ntu_user.if_training %}
    <input type="submit" name="cancel_training" value="取消報名救生班(cancel registration for the training)" />
    {% else %}
    <input type="submit" name="cancel_account" value="取消帳號(cancel account)" />
    {% endif %} 
    <p>
    <hr>
    <input type="submit" name="logout" value="登出(logout)" />
{% endblock %}
