<head>
    <style>
        p.error {color:red;}
    </style>
</head>

{% if if_training %}
{% include "training_banner.html" %}
{% else %}
<h4>社員註冊</h4>
{% endif %}

<hr>
<h2 style="color:red" id="id_error">{{ error }}</h2>



{% block content %}
<form action="{% if if_training %}signup_new{% else %}signup{% endif %}" name="signupForm" method="post"> {% csrf_token %}
    {{ form.as_p }}

    <a href="{{ uploader_url }}" target="_blank">上傳大頭照</a>

    <hr>
    <input type="submit" name="confirm" value="確定(ok)" />
    <input type="submit" name="cancel" value="取消(cancel)" />
    </form>
{% endblock %}
