<head>
    <style>
        p.error {color:red;}
    </style>
</head>


<h4>更新密碼</h4>
<hr>
<h2 style="color:blue" id="id_password_rule">新密碼長度不得小於8，必須包含數字與英文字母，且不得與舊密碼類似。</h2>
<h2 style="color:blue" id="id_info">{{ info }}</h2>
<h2 style="color:green" id="id_success">{{ success }}</h2>
<h2 style="color:red" id="id_error">{{ error }}</h2>

{% block content %}
<form action="update_password" name="updateForm" method="post"> {% csrf_token %}
    {{ form.as_p }}
    <hr>
    <input type="submit" name="confirm" value="確定(ok)" />
    <input type="submit" name="cancel" value="取消(cancel)" />
    </form>
{% endblock %}
